---
interface Props {
  containerClass: string;
  primaryClass: string;
  secondaryClass: string;
}

const {containerClass, primaryClass, secondaryClass } = Astro.props;

const links = [
  { class: primaryClass, title: "Get Started", href: "/installation" },
  { class: secondaryClass, title: "Browse Examples", href: "/examples" },
  { class: secondaryClass, title: "API Docs", href: "https://docs.rs/ratatui" },
];
---

<div class={`flex gap-10 max-xl:flex-wrap max-md:justify-center ${containerClass}`}>
  {links.map((link) => (
     <a class={`bracket-btn font-bold text-xl text-white bg-blue-700 p-3 px-6 max-2xl:p-2 max-2xl:px-4 no-underline ${link.class}`} href={link.href} aria-label={link.title}>
        {link.title}
    </a>))}
 </div>