---
import crosstui from "@assets/crosstui.gif";
import ShowcaseCard from "./ShowcaseCard.astro";
import type { ShowcaseProject } from "../models/project.ts";
import rat from "@assets/rat.png";
import chef from "@assets/chef.png";
import cheese from "@assets/cheese.png";

const projects: ShowcaseProject[] = [
  {
    title: "scope-tui",
    owner: "alemidev",
    repo: "scope-tui",
    url: "https://github.com/alemidev/scope-tui",
    description: "A simple oscilloscope/vectorscope/spectroscope for your terminal",
    media: "https://cdn.alemi.dev/scope-tui-oscilloscope-music.webm",
    alt: "scope-tui demo",
  },
  {
    title: "rebel-in-the-sky",
    owner: "ricott1",
    repo: "rebels-in-the-sky",
    url: "https://github.com/ricott1/rebels-in-the-sky",
    description: "P2P terminal game about spacepirates",
    media:
      "https://www.youtube.com/embed/5Lu9MSgmTBc?autoplay=1&loop=1&playlist=5Lu9MSgmTBc&mute=1&controls=0&modestbranding=0&rel=0&showinfo=0",
    alt: "rebel-in-the-sky demo",
  },
  {
    title: "binsider",
    owner: "orhun",
    repo: "binsider",
    url: "https://github.com/orhun/binsider",
    description: "Perform binary analysis in your terminal",
    media:
      "https://github.com/orhun/binsider/blob/main/website/src/content/assets/quickstart.gif?raw=true",
    alt: "binsider demo",
  },
  {
    title: "crossword",
    owner: "matrixfrog",
    repo: "crossword",
    url: "https://github.com/matrixfrog/crossword",
    description: "Play crossword puzzles in your terminal",
    media: crosstui.src,
    alt: "crossword demo",
  },
  {
    title: "yozefu",
    owner: "MAIF",
    repo: "yozefu",
    url: "https://github.com/MAIF/yozefu",
    description: "Explore Kafka clusters interactively",
    media: "https://vhs.charm.sh/vhs-UpIJD2h92vKkj01XSS0r0.gif",
    alt: "yozefu demo",
  },
  {
    title: "openai-tui",
    owner: "zaghaghi",
    repo: "openapi-tui",
    url: "https://github.com/zaghaghi/openapi-tui",
    description: "Terminal UI to list, browse and run APIs defined with OpenAPI",
    media: "https://github.com/zaghaghi/openapi-tui/blob/main/static/demo.gif?raw=true",
    alt: "openai-tui demo",
  },
  {
    title: "csvlens",
    owner: "YS-L",
    repo: "csvlens",
    url: "https://github.com/YS-L/csvlens",
    description: "A command line CSV file viewer",
    media: "/csvlens.gif",
    alt: "csvlens demo",
  },
  {
    title: "oxker",
    owner: "mrjackwills",
    repo: "oxker",
    url: "https://github.com/mrjackwills/oxker",
    description: "View & control docker containers with a TUI",
    media: "https://raw.githubusercontent.com/mrjackwills/oxker/main/.github/demo_01.webp?raw=true",
    alt: "oxker demo",
  },
];

const tileData = [3, 2, 1, 1, 3, 2, 1, 1];
---

<div class="not-content">
  <h2
    class="flex items-start pt-[80px] pb-6 text-4xl font-bold text-black max-xl:justify-center max-sm:pt-[50px] dark:text-white"
  >
    <span class="pr-2"
      >Built with <span class="text-blue-700 dark:text-yellow-500">Ratatui</span></span
    >
    <img class="m-0 hidden h-8 md:block" src={chef.src} />
    <img class="m-0 hidden h-8 pl-2 md:block" src={rat.src} />
  </h2>
  <p class="max-w-[1440px] pb-12 text-lg leading-8 max-xl:text-center max-sm:text-sm">
    Ratatui has all the ingredients you need to cook up exceptional terminal applications. Always
    fresh and full of cheese.
  </p>
  <div class="m-auto flex max-w-[1440px] flex-wrap gap-6">
    {
      projects.map((project: ShowcaseProject, index: number) => (
        <div
          class={`gallery-item grid h-[550px] min-w-[300px] max-sm:h-[300px] ${
            tileData[index] === 1
              ? "grid-rows-[1fr_5fr] max-sm:grid-rows-none"
              : "grid-cols-[1fr_4fr] max-sm:grid-cols-none"
          } `}
          data-col-span={tileData[index]}
        >
          <ShowcaseCard colSpan={tileData[index]} project={project} />
        </div>
      ))
    }
  </div>
</div>

<style>
  .gallery-item {
    flex: 1 1 calc(38% - 1rem); /* 2 columns by default */
  }

  .gallery-item[data-col-span="2"] {
    flex: 2 1 calc(66.667% - 1rem);
  }

  /* Span 3 columns - double width */
  .gallery-item[data-col-span="3"] {
    flex: 1 calc(100% - 1rem);
  }

  /* Responsive adjustments */
  @media (max-width: 1024px) {
    .gallery-item {
      flex: 1 1 calc(50% - 1rem); /* 2 columns on tablets */
    }

    .gallery-item[data-col-span="2"] {
      flex: 2 1 calc(100% - 1rem);
    }
  }

  @media (max-width: 768px) {
    .gallery-item {
      flex: 1 1 100%; /* Single column on mobile */
    }

    .gallery-item[data-col-span="2"] {
      flex: 1 1 100%;
    }
  }
</style>
